<div ng-controller="reportCtrl as vm" ng-init="vm.init(<%= @options.to_json %>)">
  <!--  REVENUE -->
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>REVENUE <small>Datepicker</small> <span>+100.00</span></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a class="add-row" aria-hidden="true" ng-click="vm.openRevenueModal()">
              <i class="fa fa-plus"></i>
            </a>
            <script type="text/ng-template" id="revenue.html">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Revenue</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal form-label-left">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Date</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="col-md-6 col-sm-6 xdisplay_inputx form-group has-feedback">
                        <p class="input-group">
                          <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                            ng-model="svm.revenue.log_date" is-open="svm.revenueConfig.dpOpened">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="svm.revenueConfig.openDp()">
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Detail</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" class="form-control col-md-7 col-xs-12" ng-model="svm.revenue.detail">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Amount</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" class="form-control col-md-7 col-xs-12" ng-model="svm.revenue.amount">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Business Opt</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class='form-control' ng-model="svm.revenue.business_operation_id"
                        ng-init="svm.revenue.business_operation_id = svm.revenue.business_operation_id || svm.data.business_operations[0]"
                        ng-options="bo.name for bo in svm.data.business_operations track by bo.id">
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Stored At</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class='form-control' ng-model="svm.revenue.cleverage_id"
                        ng-init="svm.revenue.cleverage_id = svm.revenue.cleverage_id || svm.data.cleverages[0]"
                        ng-options="c.name for c in svm.data.cleverages track by c.id">
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Note</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea class="form-control" rows="3" ng-model="svm.revenue.note"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="svm.cancel()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="svm.ok(svm.revenue)">Save</button>
              </div>
            </script>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th class="column-title" style="display: table-cell;">Date </th>
                <th class="column-title" style="display: table-cell;">Detail </th>
                <th class="column-title" style="display: table-cell;">Amount </th>
                <th class="column-title" style="display: table-cell;">Business Opt </th>
                <th class="column-title" style="display: table-cell;">Stored At </th>
                <th class="column-title no-link last" style="display: table-cell;">Note</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="revenue in vm.revenues" class="pointer">
                <td class=" " ng-bind="revenue.log_date"></td>
                <td class=" " ng-bind="revenue.detail"></td>
                <td class="a-right a-right" ng-bind="revenue.amount"></td>
                <td class=" " ng-bind="revenue.business_operation_id"></td>
                <td class=" " ng-bind="revenue.cleverage_id"></td>
                <td class=" " ng-bind="revenue.note"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--  EXPENSE -->
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>EXPENSE <small>Date picker</small> <span>-100.00</span></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a></li>
              <li><a href="#">Settings 2</a></li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th class="column-title" style="display: table-cell;">Date</th>
                <th class="column-title" style="display: table-cell;">Detail</th>
                <th class="column-title" style="display: table-cell;">Amount</th>
                <th class="column-title" style="display: table-cell;">Peform By</th>
                <th class="column-title" style="display: table-cell;">Type</th>
                <th class="column-title" style="display: table-cell;">Business Opt</th>
                <th class="column-title" style="display: table-cell;">Note</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer" ng-repeat="expense in vm.data.expenses">
                <td class=" " ng-bind="expense.log_date"></td>
                <td class=" " ng-bind="expense.detail"></td>
                <td class=" " ng-bind="expense.amount"></td>
                <td class=" " ng-bind="expense.peform_user_id"></td>
                <td class=" " ng-bind="expense.expense_type_id"></td>
                <td class=" " ng-bind="expense.business_operation_id"></td>
                <td class=" last" ng-bind="expense.note"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
