<!DOCTYPE html>
<html>
  <head>
    <title>Monimana</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="nav-md" ng-app="MainApp">
    <div class="container body" style="width:100%; padding: 0">
      <div class="main_container">
        <%= render "layouts/sidenav" %>
        <%= render "layouts/topnav" %>
        <div class="right_col" role="main">
          <%= yield %>
        </div>
        <%= render "layouts/footer" %>
      </div>
      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag 'ng_app' %>
    </div>
  </body>
</html>
